@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
:root {
  --avatar: url(https://hacking-with-ht.ml/owner_min.png);
  --sitebg: url(https://hacking-with-ht.ml/kuragq/background.png);
  --banner: url(https://hacking-with-ht.ml/kuragq/banner.png);
  --banner-mobile: url(https://hacking-with-ht.ml/kuragq/banner_mobile.png);
  --menu: url(https://hacking-with-ht.ml/kuragq/menu.gif);
  --white: #FEFEFE;
  --black: #111111;
  --master: #E18499;
  --opposite: #44354A;
  --vbd: url(https://hacking-with-ht.ml/kuragq/badges/vbd.png);
  --ocs: url(https://hacking-with-ht.ml/kuragq/badges/ocs.png);
  --coca: url(https://hacking-with-ht.ml/kuragq/badges/coca.png);
  --cap: url(https://hacking-with-ht.ml/kuragq/badges/cap.png);
  --fca: url(https://hacking-with-ht.ml/kuragq/badges/fca.png);
  --dca: url(https://hacking-with-ht.ml/kuragq/badges/dca.png);
  --caa: url(https://hacking-with-ht.ml/kuragq/badges/caa.png);
  --itc: url(https://hacking-with-ht.ml/kuragq/badges/itc.png);
  --mdf: url(https://hacking-with-ht.ml/kuragq/badges/mdf.png);
  --gituser: url(https://hacking-with-ht.ml/kuragq/icons/gituser.svg);
  --patreon: url(https://hacking-with-ht.ml/kuragq/icons/patreon.svg);
  --twitter: url(https://hacking-with-ht.ml/kuragq/icons/twitter.svg);
  --discord: url(https://hacking-with-ht.ml/kuragq/icons/discord.svg);
}

/* Site font. */

* {
  font-family: 'JetBrains Mono', monospace;
  text-shadow: 1px 1px var(--black);
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--black);
}

/* Site preloader logo animation. */

@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 0px #E18499);
  }
  50% {
    filter: drop-shadow(0px 0px 5px #E18499);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #E18499);
  }
}

@keyframes float {
  0% {
    transform: translatey(0)
  }
  50% {
    transform: translatey(-20px)
  }
  100% {
    transform: translatey(0)
  }
}

@keyframes checked-anim {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes not-checked-anim {
  0% {
    width: 100vw;
    height: 100vh;
  }
}

/* Site background. */

.particles-background {
  background: var(--sitebg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  opacity: .6;
}

/* Site particle animation. */

.particles-background, .particles-foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}

/* Site preloader. */

.waitload {
  transition-duration: 1s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black);
  z-index: 9999;
}

/* Site preloader logo. */

.loader {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://hacking-with-ht.ml/kuragq/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  animation: pulse 0.5s infinite;
}

/* Profile card. */

.profile {
  display: flex;
  max-width: 1100px;
  top: 50vh;
  margin-top: -140px;
  align-items: center;
  transition: all .6s ease;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 2px 10px var(--master));
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  animation: float 6s ease-in-out infinite;
  vertical-align: middle;
}

@media screen and (min-width: 700px) {
  .profile {
    height: 280px;
    overflow: visible;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    height: auto;
    width: auto;
    flex-direction: column;
    border-radius: 5px;
    top: 10vh !important;
    margin-top: 0 !important
  }
}

/* Profile card avatar. */

.avatar {
  transition: all .6s ease;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 150px;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .avatar {
    width: 100%;
    height: 100px;
    align-items: center;
  }
}

/* Profile card avatar image. */

.avatar img {
  content: var(--avatar);
  transition: all .6s ease;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  z-index: 5;
  box-shadow: 0px 0px 0px 7px var(--white);
  background-color: var(--black);
}

@media screen and (max-width: 900px) {
  .avatar img {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 700px) {
  .avatar img {
    margin-top: 100px;
  }
}

/* Profile card banner. */

.banner {
  transition: all .6s ease;
  border-radius: 5px;
  height: 100%;
  width: calc(100% - 75px);
  position: absolute;
  z-index: 0;
  pointer-events: none;
  left: 75px;
  background-size: cover;
  background-position: right;
  background-color: var(--black);
  background-image: var(--banner);
  overflow: hidden;
  box-shadow: 0 1px 1rem var(--black);
}

@media screen and (max-width: 900px) {
  .banner {
    left: 50px;
    background-image: var(--banner-mobile);
  }
}

@media screen and (max-width: 700px) {
  .banner {
    left: 0;
    top: 0;
    height: 200px;
    width: 100%;
    border-radius: 0;
  }
}

/* Profile card body. */

.minbod {
  transition: all 600ms ease;
  border-radius: 3px;
  background: #1D1D2B;
  width: 650px;
  margin: 25px 200px 25px -25px;
  z-index: 0;
  padding: 15px 25px 15px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.3);
  filter: drop-shadow(0 2px 5px var(--master));
}

/* Remove link coloring. */

.minbod a {
  text-decoration: none!important;
  color: inherit;
}

@media screen and (max-width: 900px) {
  .minbod {
    margin-right: 120px;
    margin-left: -32px;
  }
}

@media screen and (max-width: 700px) {
  .minbod {
    margin: 25px 15px 30px 15px;
    padding: 60px 25px 20px;
    width: auto;
    height: auto;
    flex: 1 0 auto;
  }
}

.blanks {
  border-radius: 5px;
  transition: all 600ms ease;
  height: 100%;
  width: calc(60%);
  opacity: .3;
  background: var(--black);
  display: block;
  position: absolute;
  z-index: 0;
  left: 75px;
}

@media screen and (max-width: 900px) {
  .blanks {
    left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .blanks {
    left: 0;
    width: 100%;
    top: 200px;
    height: calc(100% - 200px);
    background: var(--black);
    border-radius: 0;
  }
}

.content {
  position: absolute;
  bottom: -15px;
  right: 10px;
  height: 32px;
  overflow: hidden;
  text-align: right
}

.content div {
  color: var(--white);
  display: inline-block !important;
  background: var(--master);
  border-radius: 12px;
  padding: 2px 10px;
  line-height: 1.7;
  margin: 4px 4px;
  font-size: 11px;
  height: 20px
}

.content a {
  display: contents;
  font-weight: 100;
}

.content a:hover {
  color: var(--opposite);
  font-weight: 800;
  text-shadow: 0px 0px var(--master);
}

@media screen and (max-width: 700px) {
  .content {
    height: 64px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
  }
}

/* Profile card title. */

.creator {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 4px;
  color: white;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 auto;
}

.creator img {
  width: 35px;
  vertical-align: bottom;
  float: right;
}

@media screen and (max-width: 700px) {
  .creator {
    font-size: 16px;
    white-space: initial;
    overflow: initial;
    width: 100%;
    text-overflow: initial;
    text-align: center;
  }
  .creator img {
    visibility: hidden;
    position: absolute;
  }
}

/* Profile card quote. */

.myquote {
  font-weight: 700;
  font-style: italic;
  font-size: 11px;
  margin: 2px 0 8px 0;
  flex: 1 1 auto;
  overflow: hidden;
  mask-image: none;
  color: rgb(166, 170, 209);
}

.myquote::before {
  content: open-quote;
}

.myquote::after {
  content: close-quote;
}

@media screen and (max-width: 700px) {
  .myquote {
    font-size: 13px;
    text-align: center;
  }
  .myquote::before {
    content: "";
  }
  .myquote::after {
    content: "";
  }
}

/* Profile card description. */

.aboutme {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  flex: 1 1 auto;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 1.3;
  overflow: hidden;
  mask-image: none;
  -webkit-mask-image: linear-gradient(var(--black) 65%, transparent 100%);
}

@media screen and (max-width: 700px) {
  .aboutme {
    font-size: 12px;
    margin-top: 10px;
    text-align: center
  }
}

/* Profile bottom data. */

.bottom {
  flex: 0 1 auto;
  margin-top: 10px;
  display: flex;
  justify-items: space-around;
  align-items: center
}

@media screen and (max-width: 700px) {
  .bottom {
    border-top: solid 1px rgba(255, 255, 255, .05);
    padding-top: 5px
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px
}

@media screen and (max-width: 700px) {
  .info {
    position: absolute;
    bottom: -28px;
    left: -10px;
    justify-content: space-between;
    width: 100%
  }
}

/* Profile links. */

.links {
  display: flex;
  align-content: flex-end;
  flex: 1 0 auto;
  justify-content: flex-end
}

.links a {
  font-size: 28px;
  text-align: center;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer
}

@media screen and (max-width: 700px) {
  .links {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -10px
  }
  .links a {
    color: rgb(166, 170, 209)
  }
}

/* Profile badges. */

.badges {
  overflow: visible;
  height: 23px;
}

.badges span {
  height: 16px;
  display: inline-block;
  font-size: 20px;
  color: var(--white)!important;
  background-color: transparent!important;
  vertical-align: top!important;
}

.badges span img {
  max-width: 25px
}

.vbd img {
  content: var(--vbd)
}

.ocs img {
  content: var(--ocs)
}

.coca img {
  content: var(--coca)
}

.cap img {
  content: var(--cap)
}

.fca img {
  content: var(--fca)
}

.dca img {
  content: var(--dca)
}

.caa img {
  content: var(--caa)
}

.itc img {
  content: var(--itc)
}

.mdf img {
  content: var(--mdf)
}

.gituser img {
  max-width: 35px !important;
  content: var(--gituser);
  transition: all 0.6s;
}

.gituser img:hover {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(44deg) brightness(104%) contrast(101%);
}

.patreon img {
  max-width: 35px !important;
  content: var(--patreon);
  transition: all 0.6s;
}

.patreon img:hover {
  filter: invert(45%) sepia(54%) saturate(3122%) hue-rotate(335deg) brightness(123%) contrast(95%);
}

.twitter img {
  max-width: 35px !important;
  content: var(--twitter);
  transition: all 0.6s;
}

.twitter img:hover {
  filter: invert(65%) sepia(73%) saturate(4130%) hue-rotate(176deg) brightness(95%) contrast(99%);
}

.kurasad img {
  max-width: 35px !important;
  content: var(--discord);
  transition: all 0.6s;
}

.kurasad img:hover {
  filter: invert(59%) sepia(84%) saturate(1826%) hue-rotate(199deg) brightness(90%) contrast(88%);
}

/* Menu css. */

li, a {
  color: var(--white);
  font-weight: 800;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
}

.menu li {
  margin: 80px 0 -55px 0;
}

li {
  width: 230px;
  text-indent: 56px;
}

.menu a:hover {
  display: block;
  color: var(--master);
  transition: all 0.6s;
}

#init, #show {
  position: absolute;
  top: 20px;
  left: 25px;
  background: var(--menu);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  transition: .2s ease;
  cursor: pointer;
  z-index: 101;
}

#init {
  height: 25px;
  background: none;
}

#menu:checked+#init+#show:after {
  content: "Menu";
  margin-left: 60px;
  font-size: 40px;
  font-weight: 800;
  color: var(--master);
}

.menu {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  width: 110px;
  height: 110px;
  z-index: 100;
  animation: not-checked-anim .2s both;
  transition: .2s;
}

#menu:checked+#init+#show+.menu {
  background-color: var(--black);
  animation: checked-anim 1s ease both;
}

.menu li, .menu a {
  display: block;
}

.badges a {
  display: block;
}

.menu li {
  visibility: hidden;
}

#menu:checked+#init~.menu>li {
  visibility: visible;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  display: none;
}

#since, #refresh {
  overflow: visible;
  white-space: nowrap;
}

#refresh {
  cursor: pointer;
}

#meta, #refresh {
  overflow: visible;
  white-space: nowrap;
  font-size: 11px;
  margin-top: 55px;
}

#load {
  overflow: visible;
  white-space: nowrap;
  font-size: 11px;
}

#profile {
  cursor: pointer;
}

#services a, #policies a, #commission a, #contact a, #profile a, #donate a, #social a {
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#services:hover:after {
  content: ": A list of services created by me.";
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#policies:hover:after {
  content: ": The terms of service for sharing code.";
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#commission:hover:after {
  content: ": Want a custom service? Ask here.";
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#contact:hover:after {
  content: ": You can contact me on Discord.";
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#profile:hover:after {
  content: ": Go back to the profile page.";
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#donate:hover:after {
  content: ": Support me by donating.";
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#social:hover:after {
  content: ": You can find me here on Twitter.";
  overflow: visible;
  white-space: nowrap;
  display: inline;
}

#menu:checked+#init~.menu>img {
  content: url(https://hacking-with-ht.ml/jonin_square.png);
  height: 100vh;
  float: right;
}

@media screen and (max-width: 900px) {
  #menu:checked+#init~.menu>img {
    visibility: hidden;
  }
  #init, #show {
    visibility: hidden;
  }
}